*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: coral;
}

#messageBox{
    border: 5px solid black;
    border-radius: 5%;
    padding: 15px;
}

.info{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

#btnClick{
    display: flex;
    justify-content: center;
    padding: 10px;
}