<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Hello</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./CS/style.css">
</head>
<body>
    <div id="app">
        <div id="container">
            <div id="messageBox">
                <h1>{{message}}</h1>

                <div class="info">
                    <label for="">Name:</label>
                    <input v-model="nome" placeholder="Inserisci il tuo nome">  
                </div>
                <div class="info">
                    <label for="">Cognome:</label>
                    <input v-model="cognome" placeholder="Inserisci il tuo cognome">  
                </div>
                <div :class="className">
                    <p>Ciao {{nome}} {{cognome}}, l'immagine del giorno è:</p>
                </div>
                <div id="btnClick">
                    <button @click="btnClick">Click</button>
                </div>
                
                 

                <img :src ="source" alt="">
            </div>
            
        </div>
        

    </div>
    <script src="./JS/main.js"></script>
</body>
</html>